@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0;  */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.top-header {
  background-color: #f3f1f2;
}

.homeheader {
  color: black;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 7.6rem;
  padding-top: 2rem;
}
.homeheaderparagraph {
  text-align: right;
  padding-right: 5rem;
  font-family: "Raleway";
  padding-top: 8rem;
  font-size: 2.5rem;
  color: black;
}
.paratitle {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 5%;
  color: green;
  background-color: #f3f1f2;
}
.paragraph-title {
  font-size: 2.5rem;
  font-family: "Raleway";
  text-align: center;
  padding-top: 10%;
}
.rain {
  color: green;
}

.rain:hover {
  color: lightskyblue;
}

.containerhome {
  background-color: #f3f1f2;
  background-size: cover;

  display: flex;

  width: 100%;

  margin-bottom: auto;
}

.containerhome img {
  display: flex;
  padding-right: 5%;
  padding-top: 10rem;
  height: 35rem;
  width: auto;
  align-items: left;
}
