@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

.homeheader {
  color: black;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
  /* padding-top: 2%; */
  /* border: 2px solid maroon; */
}

.rain {
  color: green;
}

.rain:hover {
  color: lightskyblue;
}
.main-home-container {
  position: relative;
  height: 80vh;
  width: 100vw;
  display: flex;
  /* border: 2px solid orange; */
}

.home-image img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  /* opacity: .7; */
}

.left-half {
  font-size: 2.2rem;
  text-align: left;
  padding: 6% 2% 2% 4% ;
  color: white;
  font-family: "Raleway";
  width: 50%;
  height: 100%;
  z-index: 2;
  border: 2px solid orange;
}

.right-half {
  position: relative;
  text-align: left;
  z-index: 2;
  width: 50%;
  height: 100%;
  border: 2px dotted red;
}

.bottom-right-abs {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.get-started a{
  background-color: rgb(182, 11, 234);
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  border-radius: 50%;
  padding: 7%;
  z-index: 2;
}

.lower-home-container {
  font-size: 1.6rem;
  padding: 5% 4%;
  /* border: 2px solid blue; */
}

.app-description {
  font-family: Raleway;
  color: rgba(0,0,0,0.87)
  
}

@media (max-width: 1300px) {
  .home-right {
    font-size: 2.5rem;
    padding-right: 2%;
  }
}

@media (max-width: 950px) {
  .home-right {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .main-home-container {
    flex-direction: column;
  }
  .left-half {
    width: 100%;
  }
  .right-half {
    width: 100%;
  }
  .bottom-right-abs {
    bottom: 45%;
    left: 60%;
  }
}

@media (max-width: 500px) {
  .bottom-right-abs {
    bottom: 45%;
    left: auto;
  }
}