body {
  background-color: #d1cec9;
}

.ls-form form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #000000;
  padding: 2rem;

  background-image: url("../assets/waterPlant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  border-radius: 14%;
}

.ls-form1 form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #000000;
  padding: 2rem;

  background-image: url("../assets/closeUp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  border-radius: 14%;
}

.ls-forms form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #000000;
  padding: 2rem;

  background-image: url("../assets/pic01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  border-radius: 14%;
}

@media (max-width: 350px) {
  .ls-forms form input {
    font-size: 0.5rem;
  }
}

.ls-formes form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #000000;
  padding: 2rem;

  background-image: url("../assets/white.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  border-radius: 14%;
}

.ls-text input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f3f0;
}

.ls-text input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f3f0;
}

.ls-text input[type="number"] {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f3f0;
}

.ls-text label {
  font-family: Raleway;
  display: block;
  color: #f8df47;
  font-size: 1.5rem;

  text-shadow: 2px 2px black;
  -webkit-text-stroke: 1px #f8df47;
}

.ls-text input,
textarea {
  display: block;
}

.inputcolor {
  -webkit-text-stroke: 0.5px black;
}

.form-header h1 {
  color: #f8df47;
  font-size: 6rem;
  text-shadow: 4px 4px black;
  font-family: Raleway;
}

.form-header h2 {
  color: #f8df47;
  font-size: 2.5rem;
  text-shadow: 4px 5px black;
  -webkit-text-stroke: 2px#f8df47;
  font-family: Raleway;
}

.form-already p {
  font-size: 1.5rem;
}

.form-terms p {
  color: whitesmoke;
  font-size: 1.5rem;
}

.form-already {
  color: whitesmoke;
}

.text-link a {
  color: #d8d1ff;
}

.logBtn button {
  text-decoration: none;
  padding: 0.4% 0;
  color: #f8e30c;
  background: #81a99d;
  min-width: 150px;
  margin: 0.2%;
  font-size: 1.2rem;
  justify-content: center;
  border-radius: 5px;
  display: inline-flex;
  font-family: Raleway;
}

.logBtn button:hover {
  color: white;
  background-color: darkgreen;
  transition: all 0.2s ease-in-out;
}
