body {
  background-image: url("../assets/close-up.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  color: blue;
  text-shadow: 1px 2px white;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  align-content: center;

  border-radius: 14px;
  background-color: #98fb98;
  padding: 125px;
}

button {
  align-self: center;
}
